@font-face {
  font-family: 'OverpassBold';
  src: url("https://www.redhat.com/s/fonts/overpass_bold-web.eot"), url("https://www.redhat.com/s/fonts/overpass_bold-web.woff") format("woff"), url("https://www.redhat.com/s/fonts/overpass_bold-web.ttf") format("truetype"), url("https://www.redhat.com/s/fonts/overpass_bold-web.svg#webfontzAU82Ltw") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url("https://www.redhat.com/s/fonts/overpass_regular-web.eot"), url("https://www.redhat.com/s/fonts/overpass_regular-web.woff") format("woff"), url("https://www.redhat.com/s/fonts/overpass_regular-web.ttf") format("truetype"), url("https://www.redhat.com/s/fonts/overpass_regular-web.svg#webfontLTZe4IYH") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
	background: #e3e3e3;
	background: -moz-radial-gradient(center, circle cover, white 0%, #e3e3e3 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(0%, white), color-stop(100%, #e3e3e3));
	background: -webkit-radial-gradient(center, circle cover, white 0%, #e3e3e3 100%);
	background: -o-radial-gradient(center, circle cover, white 0%, #e3e3e3 100%);
	background: -ms-radial-gradient(center, circle cover, white 0%, #e3e3e3 100%);
	background: radial-gradient(center, circle cover, white 0%, #e3e3e3 100%);
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/supershifter.png) no-repeat fixed top;
	-webkit-animation: bfade 4s ease;
	opacity: 0.3;
	z-index: -1;
}

@-webkit-keyframes bfade {
   0% {opacity: 0.0;}
   100% {
     opacity: 0.3;
     background:url(../images/supershifter.png) no-repeat fixed top;
   }
}

/*********************************************
 * HEADERS
 *********************************************/
h1,h2,h3,h4,h5,h6 {
	color: black;
	font-family: "Overpass", sans-serif;
	letter-spacing: -0.05em;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	margin: 0px;
	text-align: center;
}

p {
	font-family: "Overpass", sans-serif;
	font-size: 1.5em;
}

h1 {
	font-size: 5em;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	padding-top: 20px;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

/*********************************************
 * GENERAL STYLING
 *********************************************/
circle.gear,circle.application,circle.hit {
	cursor: pointer;
	stroke: #3182bd;
	stroke-width: 1.5px;
}

line.link {
	fill: none;
	stroke: #9ecae1;
	stroke-width: 1.5px;
}

#next_steps {
	margin: 0px 100px;
	text-align: center;
	
}

#chart {
	text-align: center;
}

code {
	font-size: 0.7em;
}